<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qdu.dao.LoginMapper">
    <insert id="userRegister" parameterType="User">
        insert into news.user(userName,userPwd,userTel,userEmail)
        values (#{userName},#{userPwd},#{userTel},#{userEmail})
    </insert>

    <select id="userRegisterQueryByName" resultType="User">
        select *from news.user where binary userName=#{userName}
    </select>

    <update id="updateUserInfo" parameterType="User">
        update news.user set userTel=#{userTel},userEmail=#{userEmail} where userName=#{userName};
    </update>

    <update id="updateUserInfoPassword" parameterType="User">
        update news.user set userPwd=#{userPwd} where userName=#{userName};
    </update>

    <select id="queryUserPasswordByName" parameterType="String" resultType="String">
        select userPwd from news.user  where userName=#{userName};
    </select>

    <insert id="addReportByEditor" parameterType="Report">
        insert into news.report(`reName`,`reAuthor`,`reType`,`reContext`,`reState`)
        values (#{reName},#{reAuthor},#{reType},#{reContext},'未审核');
    </insert>

    <select id="queryReportEditor" resultType="Report" parameterType="String">
        select * from news.report where reAuthor=#{userName};
    </select>
</mapper>